<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.order.order.mapper.OrderDetailMapper">
    <update id="updateDetail">
      UPDATE orderdetail SET menu_num = #{detail.menuNum} WHERE order_id = #{detail.orderId} AND menu_id = #{detail.menuId}
    </update>
</mapper>