<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.order.order.mapper.OrderMapper">
    <select id="findDayOrders" resultType="com.example.demo.order.order.model.DayOrder">
      SELECT count(1) as orderCount, FROM_DAYS(TO_DAYS(create_time)) as dateDay, sum(total_price) as totalPrice
      FROM ordertb
      GROUP BY TO_DAYS(create_time)
      order by dateDay DESC  limit 7
    </select>
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        INSERT INTO ordertb ( table_sn,menuid,total_price,create_time,complete)
        VALUES( #{order.tableSn},#{order.menuId},#{order.totalPrice},#{order.createTime},#{order.complete} )
    </insert>
    <select id="findMyOrder" resultType="com.example.demo.web.model.MyOrder">
      select t3.id as menuId, t3.name as name, t3.price as price, t3.image as image, t2.menu_num as menuNum
        from ordertb t1,orderdetail t2, menu t3
        where t1.complete='todocompleted'
        and t1.table_sn = #{tableSn}
        and t1.id = t2.order_id
        and t2.menu_id = t3.id
    </select>
    <select id="findHot" resultType="com.example.demo.order.order.model.HotMenu">
        select m.name as name, sum(o.menu_num) as value from orderdetail o, menu m where order_id in (
        select id from ordertb t1, (select FROM_DAYS(TO_DAYS(create_time)) as dateday from ordertb
        GROUP BY TO_DAYS(create_time)
        order by TO_DAYS(create_time) desc limit 7) t2
        where FROM_DAYS(TO_DAYS(t1.create_time)) = t2.dateday)
        and o.menu_id = m.id
        group by o.menu_id order by value desc limit #{num}
    </select>
</mapper>